@charset "utf-8";

#intro,
#about,
#t1,
#health,
#cj,
#design,
#outro {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}


/*네비게이션*/

#header {
    position: fixed;
    z-index: 99;
    width: 100%;
}

#nav {
    width: 1200px;
    margin: 0 auto;
    height: 80px;
}

#logo {
    margin-left: 50px;
    margin-top: 30px;
    float: left;

}

#logo > a {
    color: #0d6185;
    font-size: 30px;
    font-family: 'Vitro_core';
}

#gnb {
    margin-left: 400px;
}

#gnb > li {
    display: inline-block;
    margin-top: 20px;
    line-height: 50px;
    font-size: 18px;
    margin-left: 60px;

}

#gnb > li > a {
    color: #0d6185;
    font-family: 'Vitro_core';
    display: block;

}

#gnb > li > a:hover {
    transition: all 0.5s;
    color: #263c85;
}




/*인트로*/
#introbox {
    background: url(../img/backimg.jpg) no-repeat;
}

#intro {
    background: url(../img/ball.png) no-repeat;
    background-position: right;
    padding: 420px 0;

}

#main {
    font-family: 'Vitro_core';
    color: white;
    font-size: 100px;
    text-align: center;
}

#main span {
    margin-top: 10px;
    margin-left: 280px;
    display: block;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 20px;
    font-weight: 500;
}

/* 어바웃 */
#aboutbox {
    background-color: #e7eaf0;
}

#profile {
    margin-top: 100px;
    margin-bottom: 55px;
}


.title {
    font-weight: 800;
    color: #4172b8;
    font-size: 30px;

}

#photo {
    float: left;
}

#photo > img {
    margin-top: 30px;
    display: block;
}

#photo > h5 {
    margin-top: 22px;
    color: #0d6185;
    font-size: 25px;


}

#photo > h5 span {
    display: block;
    font-weight: 600;
    color: #0d6185;
    font-size: 18px;
    margin-bottom: 7px;
}


#left {
    margin-left: 100px;
    margin-top: 30px;
    float: left;
}

#left > h3 {
    margin-bottom: 22px;
    color: #4172b8;
    font-size: 20px;
}


#leftgnb {
    margin-bottom: 46px;
}

#left > ul > li {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #0d6185;
}


#right {
    float: left;
    margin-top: 30px;
    margin-left: 100px;
}


#right > h3 {
    margin-bottom: 22px;
    color: #4172b8;
    font-size: 20px;

}

#right > ul > li {
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 500;
    color: #0d6185;
}

#rtgnb {
    margin-bottom: 85px;
}

#profile::after {
    content: "";
    clear: both;
    display: block;
}

#skill {
    margin-bottom: 50px;

}

.sk {
    display: inline-block;
    margin-left: 90px;
}

#ps,
#ai,
#html,
#css {
    display: block;
    padding: 60px;
}

#sk90,
#sk84,
#sk85,
#sk70 {
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    display: block;
}

#sk90 {
    color: #0d6085;
}

#sk84 {
    color: #3e1e01;
}

#sk85 {
    color: #e34d25;
}

#sk70 {
    color: #016fb9;
}

/* 웹 디자인 */

.releft {
    margin-top: 100px;
    margin-bottom: 50px;
    float: left;
    height: 720px;
    width: 480px;
}


#subt1 {
    font-size: 36px;
    color: #e11e2e;
    font-family: 'Vitro_core';
    margin-bottom: 5px;
}

.subtt {
    font-size: 23px;
    color: #0d6185;
    font-family: 'Vitro_core';
}

.textgnb {
    margin-top: 100px;
}

.textgnb > li > h5 {
    font-size: 18px;
    color: #0d6185;
    font-family: 'Vitro_core';
    margin-bottom: 35px;
    display: inline-block;

}

.textgnb > li > p {
    color: #333333;
    font-size: 18px;
    margin-bottom: 45px;
    font-weight: 600;
}

.textgnb > li > span {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
}

.color {
    height: 20px;
}

.cf {
    display: inline-block;
    margin-left: 20px;
}

.red {
    background: #e11e2e;
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;

}

.bl {
    background: #333;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}


#t1right {
    margin-top: 100px;
    margin-bottom: 50px;
    float: left;
    height: 720px;
    width: 720px;
    background: url(../img/pc1.png) no-repeat;
    background-position: center;
    position: relative;

}

.pca {
    width: 400px;
    height: 330px;
    position: absolute;
    top: 115px;
    left: 200px;
}

.taba {
    width: 150px;
    height: 240px;
    position: absolute;
    top: 390px;
    left: 20px;
}

.rebottom {
    float: left;
    width: 660px;
    margin-left: 250px;
}

.rebottom > li {
    width: 28%;
    line-height: 45px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin: 0 10px;
    box-shadow: 4px 4px 8px #ddd;
}

.rebottom > li:hover {
    background-color: #333;
    transition: all 0.5s;
    color: white;
}

.rebottom > li:hover a {
    color: white;
    transition: all 0.5s;
}

#t1::after {
    content: "";
    clear: both;
    display: block;
}

#subhe {
    font-size: 36px;
    color: #11787e;
    font-family: 'Vitro_core';
    margin-bottom: 5px;

}

#heright {
    margin-top: 100px;
    margin-bottom: 50px;
    float: left;
    height: 720px;
    width: 720px;
    background: url(../img/pc2.png) no-repeat;
    background-position: center;
    position: relative;
}

.gr {
    background: #11787f;
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.sky {
    background: #d2e5f6;
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.or {
    background: #f26d2b;
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#health::after {
    content: "";
    clear: both;
    display: block;
}

#subcj {
    font-size: 36px;
    color: skyblue;
    font-family: 'Vitro_core';
    margin-bottom: 5px;

}

#cjright {
    margin-top: 100px;
    margin-bottom: 50px;
    float: left;
    height: 720px;
    width: 720px;
    background: url(../img/pc2.png) no-repeat;
    background-position: center;
    position: relative;
}

.blue {
    background: #0679bf;
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.skyblue {
    background: #23a7df;
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}


#cj::after {
    content: "";
    clear: both;
    display: block;
}

/*디자인*/

.box {
    margin-top: 100px;
    display: inline-block;
    position: relative;
    left: 280px;

}

.desc {
    width: 160px;
    line-height: 55px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0 20px;
    box-shadow: 3px 3px 15px #0d6185;
}

.desc:hover {
    background: #0d6185;
    transition: all 0.4s;
}

.desc:hover a {
    color: white;
}

#container {
    margin-top: 120px;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#slider-container {
    width: 300%;
}

.slide {
    float: left;
    width: 33.33%;
    position: relative;
}

.slider-container.animated {
    transition: left.3s ease-in;

}

.brleft {
    float: left;
    width: 570px;
}

#subpct {
    font-size: 36px;
    color: #ec544f;
    font-family: 'Vitro_core';
    margin-bottom: 5px;

}

#subhbt {
    font-size: 36px;
    color: #06a7e2;
    font-family: 'Vitro_core';
    margin-bottom: 5px;
}

#subctt {
    font-size: 27px;
    color: #532c6e;
    font-family: 'Vitro_core';
    margin-bottom: 5px;
}

.slidetext > li > h5 {
    font-size: 18px;
    color: #0d6185;
    font-family: 'Vitro_core';
    margin-top: 30px;
    display: inline-block;

}

.slidetext > li > p {
    color: #333333;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    line-height: 20px;
}

.slidetext > li > span {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
}


.ttbut {
    display: block;
    width: 140px;
    line-height: 40px;
    background-color: #333;
    color: white;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-left: 100px;
    top: 85%;
    position: absolute;
}

.brright {
    float: left;
    width: 620px;
    height: 500px;
}


#fst {
    background: url(../img/1stpc.png) no-repeat;
    background-position: left;
}

#aihb {
    background: url(../img/aihb.png) no-repeat;
    background-position: left;
}

#ct {
    background: url(../img/character.png) no-repeat;
    background-position: left;
}


#button {
    margin: 50px 0;
    text-align: center;
    position: relative;
}

#button > ul {
    display: inline-block;
    line-height: 40px;
    margin: 0 50px;
}

#button > ul > li {
    background: #e2e2e2;
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-radius: 50%;

}

#button > ul > li:hover {
    background: #0d6185;
    width: 20px;
    height: 20px;
    transition: all 0.3s;
}


.controller span {
    display: block;
    position: absolute;
    top: 0%;

}

#prev {
    width: 40px;
    height: 40px;
    float: left;
    left: 35%;
    background: url(../img/prev.png) no-repeat;
}

#next {
    width: 40px;
    height: 40px;
    float: right;
    right: 35%;
    background: url(../img/next.png) no-repeat;
}

.controller {
    display: block;
}


#slider-container::after {
    content: "";
    clear: both;
    display: block;
}


/* 아웃트로 */

#outrobox {
    background: rgba(236, 204, 226, 0.3);

}

#outro {
    background: url(../img/ball2.png) no-repeat;
    background-position: center;
    text-align: center;
}


#outro > h1 {
    padding-top: 330px;
    font-size: 35px;
    margin-bottom: 50px;
    color: #0d6185;
    line-height: 40px;
}

#outro > h1 span {
    color: #263c85;
    font-weight: 800;

}

#contect > li > h2 {
    font-size: 25px;
    color: #263c85;
    font-weight: 800;
    margin-bottom: 20px;
}

#contect > li > h3 {
    font-size: 20px;
    color: #0d6185;
    margin-bottom: 5px;
}

#maillbtn {
    display: block;
    position: relative;
    margin-top: 30px;
    width: 140px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    left: 44%;
}

#maillbtn:hover {
    background-color: #333;
    transition: all 0.4s;
}

#maillbtn:hover a {
    color: white;
    transition: all 0.4s;
}


#outro > p {
    margin-top: 200px;
    font-size: 18px;
    color: #0d6185;
    font-weight: 500;
    line-height: 25px;
}

#scroll_nav {
    position: fixed;
    top: 40%;
    right: 5%;
}


#scroll_nav > li {
    background: #e2e2e2;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 15px;
}

#scroll_nav > li:hover {
    background: #0d6185;
    width: 20px;
    height: 20px;
    transition: all 0.3s;
}
